.home-container {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}
.home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  padding: 10px;
}
.home-text h1 {
  font-size: 40px;
  letter-spacing: 1px;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.home-text p {
  font-size: 20px;
  letter-spacing: 0.5px;
}
.home-images .blop {
  width: 550px;
  position: relative;
}
.home-images .main-img {
  position: absolute;
  right: 180px;
  top: 230px;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
